<p id="notice"><%= notice %></p>
<div class="row nolrmargin maintable-container">
  <div class="col-md-12 text-center">
    <h1 class="cal">All Questions</h1>

    <table class="maintable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Lat</th>
          <th>Long</th>
          <th>Difficulty</th>
          <th>Attempts</th>
          <th>Correct</th>
          <th>Image</th>
          <th colspan="4">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <%= render 'question', :question => question %>
        <% end %>
      </tbody>
    </table>

    <br>
    <div id="question-show" class="maintable"></div>
    <br>
    <%= link_to 'New Question', new_question_path, :class => "btn" %>
    <%= link_to 'Home', home_path, :class => "btn" %>
  </div>
</div>
