<% title("About") %>

<body>
    <div class="container-fluid .fill">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <br>
                <br>
                <br>
                <div class="about">
                    <p><strong>About <span class="cal">Cal</span><span class="guessr">Guessr</span>:</strong>
                    <br>
                     CalGuessr is a game that was developed Spring and Summer 2015. The technologies used include Ruby on Rails and AJAX. Image processing is done through Carrierwave and Cloudinary. CalGuessr is designed and maintained by <a href="http://www.tedxiao.me">Ted Xiao</a>, a third year EECS student at UC Berkeley.
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>