<div class="text-center">
    <% title("User Dashboard") %>
    <div class="dashboard">
        <h1 class="cal">User Dashboard</h1>
        <p>The user dashboard is still in progress. In the future, you will be able to view game statistics and your ELO!</p>

        <%= render 'layouts/navigation_links' %>
    </div>
</div>