<% title("High Scores") %>

<body>
    <div class="container-fluid .fill">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <br>
                <br>
                <br>
                <div class="about">
                    <h1>Coming Soon!</h1>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>