<% title("Home Page") %>

<body>
    <div class="container-fluid .fill">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <br>
                <br>
                <br>


                <div class="info bordered">
                    <p><strong>Instructions:</strong> Think you know UC Berkeley's campus? Start a new game to test your knowledge. Click on the map to guess where the image was taken from! The more accurate your guess, the more points you get. Good luck!
                    </p>
                </div>

                <br>
                <%= link_to 'New Game', new_game_path, :class => "btn" %>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>