<div class="row scorebox">
  <h2 id="score">Round: <%= @game.progress + 1%> / 5</h2>
  <div class="col-md-6">
      <h2 id="score">Total: <%= @game.score %> ft off</h2>
  </div>
  <% if @game.progress >= 1 %>
    <div class="col-md-6">
      <h2 id="avgscore">Avg: <%= @game.score / (@game.progress) %> ft off</h2>
    </div>
  <% end %>
  <% if @delta %>
    <h2 id="score">Last Guess: <%= @delta%> ft off</h2>
  <% end %>
</div>
