<div class="row">
  <div class="col-md-12">
    <div class="row scorebox">
      <h2 id="score">Score: <%= @game.score %></h2>
      <h2 id="avgscore">Average Score: <%= @game.score / (@game.progress) %></h2>
    </div>
  </div>
</div>
