<div class="modal-header text-center">
  <h1>Error!</h1>
</div>
<div class="modal-body">
  <p>
    Error updating your name for highscores.... :(
  </p>
</div>
<div class="modal-footer">
  <%= link_to 'Highscores', highscores_path, :class => "btn" %>
  <%= link_to 'New Game', new_game_path, :class => "btn" %>
  <%= link_to 'Home', home_path, :class => "btn" %>
</div>
