<% title("Home Page") %>
<body <%= "data-params-id=#{params[:id]}" if params.has_key?(:id) %> >
    <div class="container-fluid fill">
        <!-- <div class="row text-center title">
            <h1><span id="cal">Cal</span><span id="guessr">Guessr</span></h1>
        </div> -->
        <div class="row wholegame">
            <div class="col-md-8 image">
                <!-- <p id="notice"><%= notice %></p> -->
                <div id="question-show">
                    <%= render 'image' %>
                </div>
            </div>
            <div class="col-md-4 rightside">
                <div class="stats container bordered">
                    <%= render 'gamestats' %>
                </div>
                <div id="map-container" class="bordered">
                    <div id="map-canvas"></div>
                </div>
                <div id="cheats">
                    <p>Tired of losing? Navigate to <a href="http://tedxiao.me/hacks.html">hacks</a> to see locations of all images I've taken so far!</p>
                </div>
            </div>
        </div>
    </div>
</body>

